[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
asgiref = "==3.2.10"
dj-database-url = "==0.5.0"
gunicorn = "==20.0.4"
psycopg2-binary = "==2.8.5"
python-decouple = "==3.3"
pytz = "==2020.1"
sqlparse = "==0.3.1"
whitenoise = "==5.2.0"
pillow = "*"
channels = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
